TODO:
1. Match stats correlative to winning
2. Ethan champ correlativee to winning
3. Presence of Marcus
4. Friends' presence to winning

In [ ]:
pip install riotwatcher

Collecting riotwatcher
  Downloading riotwatcher-3.1.4-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 2.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from riotwatcher) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->riotwatcher) (3.0.4)
Installing collected packages: riotwatcher
Successfully installed riotwatcher-3.1.4

In [ ]:
import pandas as pd

In [ ]:
from riotwatcher import LolWatcher
lol_watcher = LolWatcher('')
my_region = 'na1'

In [ ]:
me = lol_watcher.summoner.by_name(my_region, 'LG Hunter 1')

In [ ]:
print(me)

{'id': 'gnzjdGBhD7M6B1kVbnGQyDd0Kd23GhbhURDzS0vj9xOP4Uo', 'accountId': '_WbxvxQmwX7PN75xcF6_kBKL8L7brKeap0Nd1lxAuQvtp5I', 'puuid': '9jU6iIey4R2DWR1M0rFNcGR5Wq_azWl4QwQkXiZI0Cuxn0vHq-C0wfsfXs3VdRyFILawOn1Ul87fqQ', 'name': 'LG Hunter 1', 'profileIconId': 1637, 'revisionDate': 1628577144000, 'summonerLevel': 168}

In [ ]:
my_ranked_stats = lol_watcher.league.by_summoner(my_region, me['id'])
print(my_ranked_stats)

[{'leagueId': 'd99dc8fa-e3d6-4bf6-8e08-b047d5227918', 'queueType': 'RANKED_SOLO_5x5', 'tier': 'GOLD', 'rank': 'II', 'summonerId': 'gnzjdGBhD7M6B1kVbnGQyDd0Kd23GhbhURDzS0vj9xOP4Uo', 'summonerName': 'LG Hunter 1', 'leaguePoints': 75, 'wins': 10, 'losses': 9, 'veteran': False, 'inactive': False, 'freshBlood': False, 'hotStreak': False}]

In [ ]:
matches = lol_watcher.match.matchlist_by_account('na1',me['accountId'],begin_index=0, end_index=100)

In [ ]:
game_id = [] 
game_mode = []
game_duration = []
participant_identities = []
participant_details = []
team_1_stats = []
team_2_stats = []

In [ ]:
for match in matches["matches"]:
  match_details = lol_watcher.match_v4.by_id('na1',match['gameId'])
  game_id.append(match['gameId'])
  game_mode.append(match_details['gameMode']) 
  game_duration.append(match_details['gameDuration']) 
  participant_identities.append(match_details['participantIdentities'])
  participant_details.append(match_details['participants'])
  team_1_stats.append(match_details['teams'][0])
  team_2_stats.append(match_details['teams'][1])

In [ ]:
summary_df = pd.DataFrame({
  'game_id':game_id,
  'game_mode':game_mode,
  'game_duration':game_duration,
  'participant_identities':participant_identities,
  'participant_details':participant_details,
  'team_1_stats':team_1_stats,
  'team_2_stats':team_2_stats
})

In [ ]:
team_stats_all = []
player_ids_all = []
my_details_all = []

In [ ]:
for k,row in summary_df.iterrows():

  #Player identity dictionaries
  player_ids = {}
  for i,player in enumerate(row.participant_identities):
    key = 'participantName_'+ (str)(i)
    player_summoner = player['player']['summonerName']
    player_ids[key] = player_summoner
    if player_summoner == 'LG Hunter 1':
      my_gameid = i
  player_ids_all.append(player_ids)

  #My stats
  my_details = None
  for player_details in row.participant_details:
    if(player_details['participantId'] == my_gameid):
      my_details = pd.json_normalize(player_details, sep='_')
      my_team = my_details.teamId[0]
  my_details_all.append(my_details)

  #Team dictionaries
  team_stats = {}
  for key in row.team_1_stats:
    if key not in ['dominionVictoryScore','vilemawKills','bans']:
      if row['team_1_stats']['teamId'] == my_team: #if I'm on team 1
        team_stats[key+'_myTeam'] = row['team_1_stats'][key]
        team_stats[key+'_enemyTeam'] = row['team_2_stats'][key]
      elif row['team_2_stats']['teamId'] == my_team: #if I'm on team 2
        team_stats[key+'_myTeam'] = row['team_2_stats'][key] 
        team_stats[key+'_enemyTeam'] = row['team_1_stats'][key]
  team_stats_all.append(team_stats)

In [ ]:
details_df = pd.concat(my_details_all)
droppable_details = ['participantId','teamId','spell1Id','spell2Id','stats_participantId','stats_win','stats_item0','stats_item1','stats_item2','stats_item3','stats_item4','stats_item5','stats_item6',
                     'stats_doubleKills','stats_tripleKills','stats_quadraKills','stats_pentaKills','stats_unrealKills','stats_magicDamageDealt','stats_physicalDamageDealt','stats_trueDamageDealt',
                     'stats_largestCriticalStrike','stats_totalUnitsHealed','stats_damageSelfMitigated','stats_damageDealtToTurrets','stats_magicalDamageTaken','stats_physicalDamageTaken','stats_trueDamageTaken',
                     'stats_goldSpent','stats_neutralMinionsKilled','stats_neutralMinionsKilledTeamJungle','stats_neutralMinionsKilledEnemyJungle','stats_sightWardsBoughtInGame','stats_wardsPlaced','stats_wardsKilled',
                     'stats_combatPlayerScore','stats_objectivePlayerScore','stats_totalPlayerScore','stats_totalScoreRank','stats_playerScore0','stats_playerScore1','stats_playerScore2','stats_playerScore3',
                     'stats_playerScore4','stats_playerScore5','stats_playerScore6','stats_playerScore7','stats_playerScore8','stats_playerScore9','stats_perk0','stats_perk0Var1','stats_perk0Var2',
                     'stats_perk0Var2','stats_perk1','stats_perk1Var1','stats_perk1Var2','stats_perk1Var3','stats_perk2','stats_perk2Var1','stats_perk2Var2','stats_perk2Var3','stats_perk3','stats_perkPrimaryStyle',
                     'stats_perkSubStyle', 'stats_statPerk0','stats_statPerk1','stats_statPerk2','timeline_participantId','stats_perk3Var1','stats_perk3Var2','stats_perk3Var3','stats_perk4','stats_perk4Var1',
                     'stats_perk4Var2','stats_perk4Var3','stats_perk5','stats_perk5Var1','stats_perk5Var2','stats_perk5Var3','stats_magicDamageDealtToChampions','stats_physicalDamageDealtToChampions','stats_trueDamageDealtToChampions',
                     'stats_turretKills','stats_inhibitorKills','stats_perk0Var3']

details_df = details_df.drop(columns=droppable_details).reset_index()

In [ ]:
player_ids_df = pd.DataFrame(player_ids_all)
team_stats_df = pd.DataFrame(team_stats_all)

In [ ]:
team_stats_df.drop(columns=['teamId_myTeam','teamId_enemyTeam','win_enemyTeam','firstBlood_enemyTeam','firstTower_enemyTeam','firstInhibitor_enemyTeam','firstBaron_enemyTeam','firstDragon_enemyTeam','firstRiftHerald_enemyTeam'],inplace=True)
trimmed_summary_df = summary_df.drop(columns=['participant_identities','participant_details','team_1_stats','team_2_stats'])

In [ ]:
detailed_frame = trimmed_summary_df.join(team_stats_df).join(player_ids_df).join(details_df)

In [ ]:
detailed_frame

       game_id  ... timeline_damageTakenDiffPerMinDeltas_30-end
0   4006345119  ...                                         NaN
1   4006196181  ...                                         NaN
2   4005271454  ...                                         NaN
3   4005073285  ...                                         NaN
4   4004761837  ...                                         NaN
..         ...  ...                                         ...
95  3930681225  ...                                         NaN
96  3929337882  ...                                         NaN
97  3929354127  ...                                         NaN
98  3929351416  ...                                         NaN
99  3928294671  ...                                         NaN

[100 rows x 87 columns]

In [ ]:
detailed_frame.game_duration.max()

3160